<div id="signin-outer-container" class="center">
  <div>
    <div id="signin">
      <h1>Peril Sign In</h1>

      <div>
        <label>ID</label>
        <input ng-model="id" type="text" />
      </div>

      <div>
        <label>Room</label>
        <input ng-model="room" type="text" />
      </div>

      <div>
        <input ng-model="observer" type="checkbox" /> Observer only
      </div>

      <div>
        <label>Player count</label>
        <select ng-model="playerCount" ng-options="i as i for i in playerCountOptions"></select>
      </div>

      <div class="button-set">
        <button ng-click="connect()">Connect</button>
      </div>

    </div>
  </div>
</div>
