<svg
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 540 315"
   preserveAspectRatio="xMidYMid"
   version="1.1">

  <defs>
    <style type="text/css"><![CDATA[

        g#nodes > g > circle {
            fill-opacity: 1;
            stroke: #000;
            stroke-width: 2;
            stroke-opacity: 1;
        }

        g#nodes > g > circle.player-red {
            fill: #ff8080;
        }

        g#nodes > g > circle.player-blue {
            fill: #8080ff;
        }

        g#nodes > g > circle.player-yellow {
            fill: #ffff99;
        }

        g#nodes > g > circle.player-black {
            fill: #000;
        }

        g#nodes > g > circle.player-green {
            fill: #80ff80;
        }

        g#nodes > g > circle.player-brown {
            fill: #b89470;
        }

        g#c1 > circle {
            fill: #ffe6ba;
        }

        g#c1 > circle.owned {
            stroke: #ffe6ba;
        }

        g#c2 > circle {
            fill: #e7ffe0;
        }

        g#c2 > circle.owned {
            stroke: #e7ffe0;
        }

        g#c3 > circle {
            fill: #ffdbff;
        }

        g#c3 > circle.owned {
            stroke: #ffdbff;
        }

        g#c4 > circle {
            fill: #dee8ff;
        }

        g#c4 > circle.owned {
            stroke: #dee8ff;
        }

        g#c5 > circle {
            fill: #fff0a4;
        }

        g#c5 > circle.owned {
            stroke: #fff0a4;
        }

        g#c6 > circle {
            fill: #d8ffff;
        }

        g#c6 > circle.owned {
            stroke: #d8ffff;
        }

        g#nodes > g > circle.selectable {
            cursor: pointer;
        }

        g#nodes > g > circle.selectable:hover {
            stroke: #ccc;
            fill: #bbb;
        }

        g#nodes > g > text {
            font-family: sans-serif;
            font-size: 10pt;
            fill: #000;
            text-anchor: middle;
            dominant-baseline: central;
        }

        g#edges > line {
            stroke: #000;
            stroke-opacity: 1;
            stroke-width: 2;
        }

    ]]></style>
  </defs>

  <g id="edges">

    <line
       ng-repeat="edge in map.edges"
       x1="{{map.clusters[edge.a.c].nodes[edge.a.n].a[0]}}"
       y1="{{map.clusters[edge.a.c].nodes[edge.a.n].a[1]}}"
       x2="{{map.clusters[edge.b.c].nodes[edge.b.n].a[0]}}"
       y2="{{map.clusters[edge.b.c].nodes[edge.b.n].a[1]}}" />

  </g>

  <g id="nodes">

    <g ng-repeat="cluster in map.clusters" id="c{{cluster.id}}">

      <circle
         ng-repeat="node in cluster.nodes"
         ng-click="nodeAction( node.id )"
         ng-class="nodeClasses( node.id )"
         id="n{{node.id}}"
         cx="{{node.a[0]}}"
         cy="{{node.a[1]}}"
         r="{{node.r}}" />

      <text
         ng-repeat="node in cluster.nodes"
         ng-hide="isFalseNode( node.id )"
         x="{{node.a[0]}}"
         y="{{node.a[1]}}"
         >{{state.nodes[node.id].armies || ""}}</text>

    </g>

  </g>

</svg>
