<div class="center">
  <div>
    <div class="signin">
      <h1>Peril Sign In</h1>

      <label>ID</label>
      <input ng-model="id" type="text" />

      <label>Room</label>
      <input ng-model="room" type="text" />

      <label>As observer</label>
      <input ng-model="observer" type="checkbox" />

      <div ng-if="!observer">
        <label>Player count</label>
        <input
           ng-model="playerCount"
           ng-minlength="1",
           ng-pattern="/^\d+$/"
           type="text" />
      </div>

      <div class="button-set">
        <button ng-click="connect()">Connect</button>
      </div>

    </div>
  </div>
</div>
